resources/EASchemaAssertion.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include/>
	<xs:include/>
	<xs:include/>
	<xs:element name="Activity" type="Activity"/>
	<xs:complexType name="Activity">
		<xs:annotation>
			<xs:documentation>An Activity is a process occurring over time that acts upon or with entities. Activities can generate, modify, evaluate, or destroy entities, including Assertions, Evidence Lines, and Evidence Items. [Source: SEPIO Ontology]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Agent" type="Agent" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Agent" type="Agent"/>
	<xs:complexType name="Agent">
		<xs:annotation>
			<xs:documentation>An Agent is something that bears some form of responsibility for an activity taking place, for the existence of an entity, or for another agent's activity (from PROV). [Source: SEPIO Ontology]</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Assertion" type="Assertion"/>
	<xs:complexType name="Assertion">
		<xs:annotation>
			<xs:documentation>A statement made by a particular agent on a particular occasion that a particular proposition is true, based on the evaluation evidence. [Source: SEPIO Ontology]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="confidence" type="Metric" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An indicator of degree of confidence that the creator of the Assertion has that the proposition it puts forth is true. [Source: SEPIO Ontology]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date the Assertion was originally made. [Source: SEPIO Ontology]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agent" type="Agent" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Agent" type="Agent" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Document" type="Document" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EvidenceLine" type="EvidenceLine" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Method" type="Method" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Proposition" type="Proposition" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:annotation>
			<xs:documentation>A collection of information content entities intended to be understood together as a whole (source: IAO) [Soiurce: SEPIO Ontology]

A physical object, or electronic counterpart, that is characterized by containing writing which is meant to be human-readable. [ Source: NCI Thesaurus; https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI_Thesaurus&amp;version=19.03d&amp;ns=ncit&amp;code=C19498&amp;key=n1123067220&amp;b=1&amp;n=null ]</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="EvidenceLine" type="EvidenceLine"/>
	<xs:complexType name="EvidenceLine">
		<xs:annotation>
			<xs:documentation>An Evidence Line is an independent, evidence-based argument used to evaluate the validity of a particular proposition. [Source: SEPIO Ontology]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="isAbout" type="Entity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="isEvidenceFor" type="Proposition" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>the proposition the evidence is used for.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agent" type="Agent" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Document" type="Document" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Information_Content_Entity" type="Information_Content_Entity" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Information_Content_Entity" type="Information_Content_Entity"/>
	<xs:complexType name="Information_Content_Entity">
		<xs:annotation>
			<xs:documentation>An Information_Content_Entity (ICE) is an entity that is about something. ICEs are abstract (non-physical) entities that represent the information encoded in physical artifacts such as photographs, books, or digital storage medium (as opposed to the physical medium itself). [Source: SEPIO Ontology]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="isAboout" type="Entity" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An Entity the information is about. [Source: SEPIO Ontology]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Activity" type="Activity" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Agent" type="Agent" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Document" type="Document" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Method" type="Method" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Method" type="Method"/>
	<xs:complexType name="Method">
		<xs:annotation>
			<xs:documentation> A set of instructions that specify how to achieve some objective. [Source: SEPIO Ontology]</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Proposition" type="Proposition"/>
	<xs:complexType name="Proposition">
		<xs:annotation>
			<xs:documentation>An abstract entity representing the sharable meaning expressed in a particular Assertion.
Propositions are sharable statements of purported truth. They represent the core fact or meaning that is put forth as true in an Assertion. They are 'sharable' in that the same Proposition can be expressed in separate Assertions made by different Agents, on different occasions. As truth bearers, Propositions are either true or false.
[Source: SEPIO Ontology]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="object" type="Entity" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The entity or concept that the subject is associated with in the Proposition- typically a specific domain entity or generic concept related to it, or a piece of data about it.  [Source: SEPIO Ontology]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predicate" type="Relationship" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The relationship stated to hold between the subject and descriptor. [Source: SEPIO Ontology]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subject" type="Entity" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Variant that the Statement is about. [Source: SEPIO Ontology]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
